*{
  margin:0%;
  padding: 05;
}
.App {
  scrollbar-gutter: auto;
    text-align: center;
    box-sizing: border-box;
    width: 70vw;
    height: 60vw;
    padding: 20px;
    border: 4px solid rgb(192, 234, 241);
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}

.ques{
  width: auto;
  align-items: center;
  border-radius: 4px;
  font-size: 1vw;
}
.answers{
  box-sizing: border-box;
  min-width: 40vw;
  max-width: 60vw;
  height: 9vw;
  padding: 2vw;
  background-color: rgb(238, 254, 254);
  border-radius: 5px;
  margin: auto;
  font-size: 1.4vw;
  overflow: inherit; 
  margin-top: -1vw;

}
.toggle{
  text-align:left ;
  margin: 2vw;
  size: 2vw;
  background-color: rgb(255, 237, 218);
  border-radius: 100px;
}
.headding{
  display: flex;
  background-color: rgb(188, 214, 214);
  margin: 2vw;
  border-radius:4px ;
  align-items: center;

}



